{% extends 'base/master.html' %}
{%load staticfiles%}
{% block 'title'%} Stocks {% endblock %}
{% block 'content'%}
<div class="container">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:#083045; color:#eed35b; ">Add Stock</div>
            <div class="panel-body">
                <form method="post" action="#" enctype="multipart/form-data">
                    {{form}}
                    {% csrf_token %}
                    <br>
                    <button type="submit" class="btn btn-primary" style="width:100%;">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6" style="float:right;margin-top:-25%;">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:#083045; color:#eed35b; ">Remaining Stocks | {{year}}</div>

            <div class="panel-body">
              <table id="table_id" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Products</th>
                <th>Sales</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
        {% for s in stock %}
            <tr>
                <td>{{s.id}}</td>
                <td>{{s.product_id}}</td>
                <td>{{s.sales}}</td>
                <td>{{s.quantity}}</td>
            </tr>
        {%endfor%}
        </tbody>
</table>

            </div>
            <form method="post" action="{% url 'export_stock_xls' %}">
                    {% csrf_token %}
                    <br>
                    <button type="submit" class="btn btn-primary" style="margin-left:50%;margin-bottom:1%">Print</button>
                </form>
        </div>
    </div>
{%endblock%}